Repository benNew89/test-playground: changes, and which CircleCI parameters are due for each by the changed paths.
All: always-continue, build-store, build-erp

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/no-updates.yml
          mapping: | # The mapping will be used to generate the dynamic configuration for all conditions that match.
            .* always-continue true .circleci/shared.yml
            RustStore/.* build-store true .circleci/rust-store.yml
            RustErp/.* build-erp true .circleci/rust-erp.yml
          filters:
            tags:
              only: /.*/

Update rust-erp.yml
  .circleci/rust-erp.yml
Due: always-continue

Add files via upload
  RustErp/src/backend/exampleBackendFile.md
  RustErp/src/data/hello.md
  RustStore/src/css/helloWorld.md
  RustStore/src/frontEnd/exampleFrontEnd.md
Due: always-continue, build-store, build-erp

Update exampleBackendFile.md
  RustErp/src/backend/exampleBackendFile.md
Due: always-continue, build-erp

Delete RustErp directory
  RustErp/backend/exampleBackendFile.md
  RustErp/src/data/hello.md
Due: always-continue, build-erp

Delete RustStore directory
  RustStore/frontEnd/exampleFrontEnd.md
  RustStore/src/css/helloWorld.md
Due: always-continue, build-store

Update rust-store.yml
  .circleci/rust-store.yml
Due: always-continue

Update hello.md
  RustErp/src/data/hello.md
Due: always-continue, build-erp

Update exampleFrontEnd.md
  RustStore/src/frontEnd/exampleFrontEnd.md
Due: always-continue, build-store

Update config.yml
  .circleci/config.yml
Due: always-continue

Create continuation.yml
  .circleci/continuation.yml
Due: always-continue

Update continuation.yml
  .circleci/continuation.yml
Due: always-continue
